html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

hgroup {
  text-align: left;
  margin-left: 1.5rem;
}

section h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 1rem;
  font-weight: bold;
}

section h2 {
  text-align: center;
  font-size: 1.125rem;
  margin: 0;
  font-weight: bold;
}

section ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: .5rem;
  margin-top: .75rem;
  font-size: 1rem;
}

blockquote {
  border-top: #e2e2e2 .2rem solid;
  text-align: center;
  padding: 1rem;
  margin: 0 1rem;
  padding-bottom: 1.75rem;
  border-bottom: #e2e2e2 .2rem solid;
}

blockquote i {
  font-size: 2rem;
  font-weight: normal;
}

blockquote p {
  font-size: 1rem;
  margin-bottom: .7rem;
  margin-top: .7rem;
}

main ul {
  display: grid;
  padding: 0;
}

main li {
  padding-top: .5rem;
  margin-bottom: 1.2rem;
}

main h2 {
  list-style-type: none;
  text-align: left;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

main h3 {
  list-style-type: none;
  text-align: left;
  font-size: 1rem;
  margin-top: .5rem;
  margin-bottom: 0;
}

main p {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 1.1rem;
  margin-top: 1.3rem;
}

main a {
  display: block;
  font-size: 1rem;
  color: #3783a3;
  text-decoration: none;
  border: #3783a3 .2rem solid;
  border-radius: .3rem;
  padding: .5em 1em .6em;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

footer {
  border-top: #e2e2e2 .2rem solid;
  text-align: center;
  font-size: .85rem;
  padding: 1.125rem;
  margin-bottom: 0;
}

ul li {
  padding: 0 .5rem;
  font-size: 1.125rem;
}

div {
  margin: 1rem;
  margin-bottom: .75rem;
}

nav ul {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 0;
}

@media only screen and (min-width: 30em) {

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  section ul {
    margin-right: .5rem;
    margin-top: .75rem;
  }

  nav ul {
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  section h1 {
    text-align: left;
  }

  section h2 {
    text-align: left;
  }

  hgroup {
    align-items: flex-start;
    margin-left: 1.5rem;
  }

  blockquote {
    margin: 0 4rem;
    padding-bottom: 2rem;
  }

  div {
    margin-bottom: .75rem;
  }

  main ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

}

@media only screen and (min-width: 50em) {

  blockquote {
    margin: 0 16rem;
  }

  main {
    margin-bottom: .75rem;
  }

  main p {
    margin-bottom: 1rem;
  }

}
