html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

section {
  display: flex;
  justify-content: space-between;
  align-items:
}

hgroup {
  text-align: left;
  margin-left: 1.5rem;
}

nav ul {
  margin-right: 1.5rem;
}

blockquote {
  border-top: #e2e2e2 .2rem solid;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  text-align: center;
  border-bottom: #e2e2e2 .2rem solid;

}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
}
